In [48]:
def getFilteredData():
    # 
#     print("Starting Query now.")
#     query = sql.SQL(makeQueryString(limit=True))
#     data = pgIO.getAllData(query)
#     print('Got my data, it has {} records'.format(len(data)))
#     # persist data to intermediate folder
#     df = pd.DataFrame(data)
#     # df.to_csv('../data/intermediate/patients.csv', columns=['id','race','sex'], index=False)

    df = pd.read_csv('../data/intermediate/patients.csv', index=)
    print(df.head())
    df.columns = ['id','race','sex']
    return df
    
def makeQueryString():
    reference_file = pd.read_csv("../data/raw_data/ref/race.csv")

    query = '''
            SELECT id, race, sex  
            FROM {schema}.{table}
            WHERE race IS NOT NULL
            AND sex IS NOT NULL
            '''.format(schema  = schema, 
                        table   = table)
    query_extension = " AND ("
    # Given race.csv 
    for r in reference_file['race']:
        query_extension += "race = '{}' OR ".format(r)
    query += query_extension[:-4] + ")" # remove the last " OR"

    if limit: # debugging
        query += " LIMIT 50" 
        print(query)

    return query 

def recodeData(data,col):
    print(col)
    ref = pd.read_csv('../data/raw_data/ref/{}.csv'.format(col), index_col=False)
    print(ref.head())

    data_merged = data.merge(right=ref, how = 'inner', on=col)
    print(data_merged.shape)

#     data_merged = data_merged.drop(col,axis=1)
    print(data_merged.shape)
    return data_merged

SyntaxError: invalid syntax (<ipython-input-48-da6835244b63>, line 11)

In [49]:
df = pd.read_csv('../data/intermediate/patients.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.columns = ['id','race','sex']
print(df.head())

      id      race sex
0   1211     Asian   M
1  14276  Biracial   M
2   7382     Asian   M
3  17406     Asian   F
4  25336     Asian   F

In [51]:
# data = getFilteredData()
for col in ['race','sex']: data_recoded = recodeData(df, col)

race
                            race recodedRace
0  Multiracial:Other Combination          MR
1               PACIFIC ISLANDER        NHPI
2                          Asian          AA
3                    MultiRacial          MR
4                       Biracial          MR
(50, 4)
(50, 3)
sex
      sex recodedSex
0       F     Female
1  Female     Female
2       M       Male
3    Male       Male
(50, 4)
(50, 3)

In [98]:
def queryExtend(col_name, col_values):    
    query_extension = " AND {} IN (".format(col_name)
    ext=""
    for r in col_values:
        ext += "\'" + str(r) + "\', "
    query_extension += ext[:-2] + ")"
# #         query_extension += "{} = '{}' OR ".format(col_name, r)
#     query_extension += query_extension[:-4] + ")" # remove the last " OR"
    print(query_extension)
    return query_extension

In [99]:
queryExtend(data_recoded.columns[0], col_values)

 AND id IN ('1211', '14276', '7382', '7883', '15418', '24668', '32105', '32597', '20899', '25648', '26268', '43588', '33498', '14740', '16633', '3502', '20187', '6848', '19319', '43946', '23292', '25719', '23676', '6423', '40481', '40308', '45554', '31952', '12139', '45531', '26826', '17406', '25336', '42653', '10828', '13562', '28186', '12369', '21855', '636', '7498', '16793', '44824', '22301', '11243', '15204', '23301', '2369', '25974', '44725')

" AND id IN ('1211', '14276', '7382', '7883', '15418', '24668', '32105', '32597', '20899', '25648', '26268', '43588', '33498', '14740', '16633', '3502', '20187', '6848', '19319', '43946', '23292', '25719', '23676', '6423', '40481', '40308', '45554', '31952', '12139', '45531', '26826', '17406', '25336', '42653', '10828', '13562', '28186', '12369', '21855', '636', '7498', '16793', '44824', '22301', '11243', '15204', '23301', '2369', '25974', '44725')"

In [55]:
data_recoded.head()

      id      race recodedSex
0   1211     Asian       Male
1  14276  Biracial       Male
2   7382     Asian       Male
3   7883     Asian       Male
4  15418     Asian       Male

In [74]:
col_values = data_recoded.iloc[:,0]

In [66]:
data_recoded.columns[0]

'id'

In [76]:
query = ""
ext = ""

query = """ SELECT backgroundid, dsmno FROM raw_data.pdiagnose WHERE dsmno IS NOT NULL"""
# ext = queryExtend("background"+data_recoded.columns[0], col_values)
query + ext + " LIMIT 50"

" SELECT backgroundid, dsmno FROM raw_data.pdiagnose WHERE dsmno IS NOT NULL AND (backgroundid = '1211' OR backgroundid = '14276' OR backgroundid = '7382' OR backgroundid = '7883' OR backgroundid = '15418' OR backgroundid = '24668' OR backgroundid = '32105' OR backgroundid = '32597' OR backgroundid = '20899' OR backgroundid = '25648' OR backgroundid = '26268' OR backgroundid = '43588' OR backgroundid = '33498' OR backgroundid = '14740' OR backgroundid = '16633' OR backgroundid = '3502' OR backgroundid = '20187' OR backgroundid = '6848' OR backgroundid = '19319' OR backgroundid = '43946' OR backgroundid = '23292' OR backgroundid = '25719' OR backgroundid = '23676' OR backgroundid = '6423' OR backgroundid = '40481' OR backgroundid = '40308' OR backgroundid = '45554' OR backgroundid = '31952' OR backgroundid = '12139' OR backgroundid = '45531' OR backgroundid = '26826' OR backgroundid = '17406' OR backgroundid = '25336' OR backgroundid = '42653' OR backgroundid = '10828' OR backgroundid = '13562' OR backgroundid = '28186' OR backgroundid = '12369' OR backgroundid = '21855' OR backgroundid = '636' OR backgroundid = '7498' OR backgroundid = '16793' OR backgroundid = '44824' OR backgroundid = '22301' OR backgroundid = '11243' OR backgroundid = '15204' OR backgroundid = '23301' OR backgroundid = '2369' OR backgroundid = '25974' OR backgroundid = '44725' OR  AND (backgroundid = '1211' OR backgroundid = '14276' OR backgroundid = '7382' OR backgroundid = '7883' OR backgroundid = '15418' OR backgroundid = '24668' OR backgroundid = '32105' OR backgroundid = '32597' OR backgroundid = '20899' OR backgroundid = '25648' OR backgroundid = '26268' OR backgroundid = '43588' OR backgroundid = '33498' OR backgroundid = '14740' OR backgroundid = '16633' OR backgroundid = '3502' OR backgroundid = '20187' OR backgroundid = '6848' OR backgroundid = '19319' OR backgroundid = '43946' OR backgroundid = '23292' OR backgroundid = '25719' OR backgroundid = '23676' OR backgroundid = '6423' OR backgroundid = '40481' OR backgroundid = '40308' OR backgroundid = '45554' OR backgroundid = '31952' OR backgroundid = '12139' OR backgroundid = '45531' OR backgroundid = '26826' OR backgroundid = '17406' OR backgroundid = '25336' OR backgroundid = '42653' OR backgroundid = '10828' OR backgroundid = '13562' OR backgroundid = '28186' OR backgroundid = '12369' OR backgroundid = '21855' OR backgroundid = '636' OR backgroundid = '7498' OR backgroundid = '16793' OR backgroundid = '44824' OR backgroundid = '22301' OR backgroundid = '11243' OR backgroundid = '15204' OR backgroundid = '23301' OR backgroundid = '2369' OR backgroundid = '25974' OR backgroundid = '44725') LIMIT 50"

In [73]:
query

" SELECT backgroundid, dsmno FROM raw_data.pdiagnose WHERE dsmno IS NOT NULL AND (backgroundid = '1211' OR backgroundid = '14276' OR backgroundid = '7382' OR backgroundid = '7883' OR backgroundid = '15418' OR backgroundid = '24668' OR backgroundid = '32105' OR backgroundid = '32597' OR backgroundid = '20899' OR backgroundid = '25648' OR backgroundid = '26268' OR backgroundid = '43588' OR backgroundid = '33498' OR backgroundid = '14740' OR backgroundid = '16633' OR backgroundid = '3502' OR backgroundid = '20187' OR backgroundid = '6848' OR backgroundid = '19319' OR backgroundid = '43946' OR backgroundid = '23292' OR backgroundid = '25719' OR backgroundid = '23676' OR backgroundid = '6423' OR backgroundid = '40481' OR backgroundid = '40308' OR backgroundid = '45554' OR backgroundid = '31952' OR backgroundid = '12139' OR backgroundid = '45531' OR backgroundid = '26826' OR backgroundid = '17406' OR backgroundid = '25336' OR backgroundid = '42653' OR backgroundid = '10828' OR backgroundid = '13562' OR backgroundid = '28186' OR backgroundid = '12369' OR backgroundid = '21855' OR backgroundid = '636' OR backgroundid = '7498' OR backgroundid = '16793' OR backgroundid = '44824' OR backgroundid = '22301' OR backgroundid = '11243' OR backgroundid = '15204' OR backgroundid = '23301' OR backgroundid = '2369' OR backgroundid = '25974' OR backgroundid = '44725' OR  AND (backgroundid = '1211' OR backgroundid = '14276' OR backgroundid = '7382' OR backgroundid = '7883' OR backgroundid = '15418' OR backgroundid = '24668' OR backgroundid = '32105' OR backgroundid = '32597' OR backgroundid = '20899' OR backgroundid = '25648' OR backgroundid = '26268' OR backgroundid = '43588' OR backgroundid = '33498' OR backgroundid = '14740' OR backgroundid = '16633' OR backgroundid = '3502' OR backgroundid = '20187' OR backgroundid = '6848' OR backgroundid = '19319' OR backgroundid = '43946' OR backgroundid = '23292' OR backgroundid = '25719' OR backgroundid = '23676' OR backgroundid = '6423' OR backgroundid = '40481' OR backgroundid = '40308' OR backgroundid = '45554' OR backgroundid = '31952' OR backgroundid = '12139' OR backgroundid = '45531' OR backgroundid = '26826' OR backgroundid = '17406' OR backgroundid = '25336' OR backgroundid = '42653' OR backgroundid = '10828' OR backgroundid = '13562' OR backgroundid = '28186' OR backgroundid = '12369' OR backgroundid = '21855' OR backgroundid = '636' OR backgroundid = '7498' OR backgroundid = '16793' OR backgroundid = '44824' OR backgroundid = '22301' OR backgroundid = '11243' OR backgroundid = '15204' OR backgroundid = '23301' OR backgroundid = '2369' OR backgroundid = '25974' OR backgroundid = '44725') LIMIT 50"